[Unit]
Description=Dummy power supply client service
ConditionPathExists=/var/run/qubes-service/dummy-psu
Requires=module-load-dummy-psu.service
After=qubes-qrexec-agent.service

[Service]
ExecStart=/usr/bin/qubes-psu-client

[Install]
WantedBy=default.target