[Unit]
Description=Dummy power supply client service
ConditionPathExists=/var/run/qubes-service/dummy-psu
After=qubes-qrexec-agent.service module-load-dummy-psu.service

[Service]
ExecStart=/usr/bin/qubes-psu-client

[Install]
WantedBy=multi-user.target